.link {
    display: block;
    text-decoration: none;
    color: var(--gray);
    padding: 5px;
    transition: all 0.5s ease-in;
}

.active {
    display: block;
    background-color: white;
    text-decoration: none;
    border-left: 10px solid var(--gray);
    color: black;
    padding: 5px 10px;
    filter: drop-shadow(2px 2px 2px linen);
    transition: all 0.5s ease-out;
}