.pageList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    padding: 10px;
}

.pageItem {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.pageItem:hover {
    cursor: pointer;
    opacity: 0.8;
}

.selectedPageItem {
    background-color: white;
    color: black;
    box-shadow: 0 3px 3px #30343f;
    transition: all 0.3s ease-in-out;
}

.userList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    padding: 10px 20px;
}

.userItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    background-color: gray;
}

.userImg {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    object-fit: cover;
}